https://scikit-learn.org/stable/auto_examples/classification/plot_classifier_comparison.html#sphx-glr-auto-examples-classification-plot-classifier-comparison-py

In [1]:
!hostname

d80d740e40a5

In [2]:
!pip install tensorflow

Requirement already satisfied: tensorflow in /opt/conda/lib/python3.6/site-packages (1.13.1)
Requirement already satisfied: gast>=0.2.0 in /opt/conda/lib/python3.6/site-packages (from tensorflow) (0.2.2)
Requirement already satisfied: wheel>=0.26 in /opt/conda/lib/python3.6/site-packages (from tensorflow) (0.32.2)
Requirement already satisfied: tensorflow-estimator<1.14.0rc0,>=1.13.0 in /opt/conda/lib/python3.6/site-packages (from tensorflow) (1.13.0)
Requirement already satisfied: keras-applications>=1.0.6 in /opt/conda/lib/python3.6/site-packages (from tensorflow) (1.0.7)
Requirement already satisfied: protobuf>=3.6.1 in /opt/conda/lib/python3.6/site-packages (from tensorflow) (3.6.1)
Requirement already satisfied: absl-py>=0.1.6 in /opt/conda/lib/python3.6/site-packages (from tensorflow) (0.7.0)
Requirement already satisfied: astor>=0.6.0 in /opt/conda/lib/python3.6/site-packages (from tensorflow) (0.7.1)
Requirement already satisfied: tensorboard<1.14.0,>=1.13.0 in /opt/conda/lib/python3.6/site-packages (from tensorflow) (1.13.0)
Requirement already satisfied: six>=1.10.0 in /opt/conda/lib/python3.6/site-packages (from tensorflow) (1.11.0)
Requirement already satisfied: numpy>=1.13.3 in /opt/conda/lib/python3.6/site-packages (from tensorflow) (1.13.3)
Requirement already satisfied: keras-preprocessing>=1.0.5 in /opt/conda/lib/python3.6/site-packages (from tensorflow) (1.0.9)
Requirement already satisfied: grpcio>=1.8.6 in /opt/conda/lib/python3.6/site-packages (from tensorflow) (1.19.0)
Requirement already satisfied: termcolor>=1.1.0 in /opt/conda/lib/python3.6/site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: mock>=2.0.0 in /opt/conda/lib/python3.6/site-packages (from tensorflow-estimator<1.14.0rc0,>=1.13.0->tensorflow) (2.0.0)
Requirement already satisfied: h5py in /opt/conda/lib/python3.6/site-packages (from keras-applications>=1.0.6->tensorflow) (2.7.1)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.6/site-packages (from protobuf>=3.6.1->tensorflow) (40.4.3)
Requirement already satisfied: werkzeug>=0.11.15 in /opt/conda/lib/python3.6/site-packages (from tensorboard<1.14.0,>=1.13.0->tensorflow) (0.14.1)
Requirement already satisfied: markdown>=2.6.8 in /opt/conda/lib/python3.6/site-packages (from tensorboard<1.14.0,>=1.13.0->tensorflow) (3.0.1)
Requirement already satisfied: pbr>=0.11 in /opt/conda/lib/python3.6/site-packages (from mock>=2.0.0->tensorflow-estimator<1.14.0rc0,>=1.13.0->tensorflow) (5.1.3)

In [3]:
!pip install tflearn

Requirement already satisfied: tflearn in /opt/conda/lib/python3.6/site-packages (0.3.2)
Requirement already satisfied: six in /opt/conda/lib/python3.6/site-packages (from tflearn) (1.11.0)
Requirement already satisfied: Pillow in /opt/conda/lib/python3.6/site-packages (from tflearn) (5.3.0)
Requirement already satisfied: numpy in /opt/conda/lib/python3.6/site-packages (from tflearn) (1.13.3)

In [4]:
!jupyter --version

4.4.0

In [5]:
!python --version

Python 3.6.7 :: Anaconda, Inc.

In [6]:
import time
import pandas
print("pandas",pandas.__version__)
import numpy as np
print("numpy",np.__version__)
import sklearn.model_selection
import sklearn.tree
import sklearn.svm
import sklearn.naive_bayes
import sklearn.ensemble
import sklearn.neural_network
import sklearn.metrics
import sklearn.neighbors
#import skflow.TensorFlowLinearClassifier
import tensorflow
print("TensorFlow",tensorflow.__version__)
import tflearn
import graphviz

pandas 0.23.4
numpy 1.13.3
TensorFlow 1.13.1
WARNING:tensorflow:From /opt/conda/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

# create fake data

In [7]:
num_rows=10

Here I assume 
* no NaNs
* no blanks
* each variable has been normalized
* categorical data has been addressed using an encoding (binary or one-hot or something else)
* classes are balanced

In [8]:
df1 = pandas.DataFrame(np.abs(np.random.randn(num_rows, 4)), columns=list('ABCD'))
#df1.head()

In [9]:
df2 = pandas.DataFrame(np.random.randint(10,size=(num_rows, 4)), columns=list('EFGH'))
#df2.head()

In [10]:
df3 = pandas.DataFrame(np.random.randint(2,size=(num_rows, 1)), columns=list('J'))
#df3.head()

In [11]:
cleaned_df = pandas.concat([df1, df2,df3], axis=1, join_axes=[df1.index])
cleaned_df

          A         B         C         D  E  F  G  H  J
0  0.680493  0.880254  0.105222  0.398196  9  5  8  1  1
1  0.056168  1.094810  1.539973  0.702712  5  6  7  1  1
2  0.422992  0.849772  0.773264  0.108144  4  1  5  9  0
3  1.240024  0.840837  0.351725  1.654967  1  5  1  8  0
4  0.221681  0.740073  0.120650  1.257852  0  8  4  1  0
5  1.378980  0.790226  0.766834  0.982337  5  8  0  5  0
6  2.957494  0.682368  0.151864  0.153165  1  1  7  5  1
7  1.037898  1.904808  0.334047  1.188346  5  9  2  0  0
8  1.466228  1.952572  0.789354  0.184833  1  0  5  0  0
9  0.357652  0.919916  2.520537  0.160937  8  5  2  2  0

# split fake data

https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

https://datascience.stackexchange.com/questions/15135/train-test-validation-set-splitting-in-sklearn

Goal: split cleaned_df into 4 subsections:

[          |          ]
[ X_train  |  y_train ]    
[          |          ]
[----------|----------]
[          |          ]
[ X_test   |  y_test  ]    
[          |          ]

In [12]:
X = cleaned_df.drop('J', axis=1)
X

          A         B         C         D  E  F  G  H
0  0.680493  0.880254  0.105222  0.398196  9  5  8  1
1  0.056168  1.094810  1.539973  0.702712  5  6  7  1
2  0.422992  0.849772  0.773264  0.108144  4  1  5  9
3  1.240024  0.840837  0.351725  1.654967  1  5  1  8
4  0.221681  0.740073  0.120650  1.257852  0  8  4  1
5  1.378980  0.790226  0.766834  0.982337  5  8  0  5
6  2.957494  0.682368  0.151864  0.153165  1  1  7  5
7  1.037898  1.904808  0.334047  1.188346  5  9  2  0
8  1.466228  1.952572  0.789354  0.184833  1  0  5  0
9  0.357652  0.919916  2.520537  0.160937  8  5  2  2

In [13]:
y=cleaned_df['J']
y

0    1
1    1
2    0
3    0
4    0
5    0
6    1
7    0
8    0
9    0
Name: J, dtype: int64

In [14]:
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size=0.33, random_state=42)

In [15]:
X_train

          A         B         C         D  E  F  G  H
7  1.037898  1.904808  0.334047  1.188346  5  9  2  0
2  0.422992  0.849772  0.773264  0.108144  4  1  5  9
9  0.357652  0.919916  2.520537  0.160937  8  5  2  2
4  0.221681  0.740073  0.120650  1.257852  0  8  4  1
3  1.240024  0.840837  0.351725  1.654967  1  5  1  8
6  2.957494  0.682368  0.151864  0.153165  1  1  7  5

In [16]:
X_test

          A         B         C         D  E  F  G  H
8  1.466228  1.952572  0.789354  0.184833  1  0  5  0
1  0.056168  1.094810  1.539973  0.702712  5  6  7  1
5  1.378980  0.790226  0.766834  0.982337  5  8  0  5
0  0.680493  0.880254  0.105222  0.398196  9  5  8  1

In [17]:
y_train

7    0
2    0
9    0
4    0
3    0
6    1
Name: J, dtype: int64

In [18]:
y_test

8    0
1    1
5    0
0    1
Name: J, dtype: int64

# Support Vector Machine

https://scikit-learn.org/stable/modules/svm.html

https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html

In [19]:
clf = sklearn.svm.SVC(gamma='auto')
output = clf.fit(X_train, y_train) 
output

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [20]:
y_pred = clf.predict(X_test)
y_pred

array([0, 0, 0, 0])

In [21]:
y_test

8    0
1    1
5    0
0    1
Name: J, dtype: int64

https://scikit-learn.org/stable/modules/model_evaluation.html#accuracy-score
    
https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html

In [22]:
score = sklearn.metrics.accuracy_score(y_test,y_pred)
print("Accuracy: %f" % score)

Accuracy: 0.500000

# K nearest neighbors

https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html

In [23]:
neigh = sklearn.neighbors.KNeighborsClassifier(n_neighbors=3)
neigh.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [25]:
y_pred = neigh.predict(X_test)
y_pred

array([0, 0, 0, 0])

In [26]:
y_test

8    0
1    1
5    0
0    1
Name: J, dtype: int64

# naive bayes

https://scikit-learn.org/stable/modules/naive_bayes.html

In [ ]:
gnb = sklearn.naive_bayes.GaussianNB()
y_pred = gnb.fit(X_train, y_train).predict(X_test)
y_pred

In [ ]:
y_test

In [ ]:
# https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html
score = sklearn.metrics.accuracy_score(y_test,y_pred)
print("Accuracy: %f" % score)

# Decision tree

https://scikit-learn.org/stable/modules/tree.html

In [ ]:
clf = sklearn.tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)

In [ ]:
clf.predict(X_test) # what should y_test be based on the X_test input?

In [ ]:
y_test # and what the actual values are for y_test

In [ ]:
dot_data = sklearn.tree.export_graphviz(clf, out_file=None) 
graph = graphviz.Source(dot_data) 
#graph.render("iris") # PDF

In [ ]:
dot_data = sklearn.tree.export_graphviz(clf, out_file=None, 
                     filled=True, rounded=True,  
                     special_characters=True)  
graph = graphviz.Source(dot_data)  
graph

# Random Forest

https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html

In [ ]:
clf = sklearn.ensemble.RandomForestClassifier(n_estimators=100, max_depth=2,random_state=0)
rf_output = clf.fit(X_train, y_train)
rf_output

In [ ]:
clf.predict(X_test)

In [ ]:
y_test

In [ ]:
clf.score(X_test,y_test)

In [ ]:
list(zip(X.columns,clf.feature_importances_))

# sklearn neural network

https://scikit-neuralnetwork.readthedocs.io/en/latest/

https://www.kdnuggets.com/2016/10/beginners-guide-neural-networks-python-scikit-learn.html

https://scikit-learn.org/stable/modules/neural_networks_supervised.html

https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPClassifier.html

In [ ]:
param={'solver': 'sgd', 'learning_rate': 'constant', 'momentum': 0,'learning_rate_init': 0.2}
mlp = sklearn.neural_network.MLPClassifier(verbose=0, 
                                           random_state=0,
                                           max_iter=1000)

In [ ]:
mlp.fit(X_train, y_train)

In [ ]:
print("Training set score: %f" % mlp.score(X_train, y_train))
print("Training set loss: %f" % mlp.loss_)

In [ ]:
mlp.predict(X_test)

In [ ]:
y_test

In [ ]:
mlp.score(X_test, y_test)

# tensorflow neural network using a pre-made Estimator

sklearn --> tflearn --> estimators

old: sklearn; https://www.kdnuggets.com/2016/02/scikit-flow-easy-deep-learning-tensorflow-scikit-learn.html

* https://www.tensorflow.org/guide/premade_estimators
* https://www.tensorflow.org/tutorials/estimators/linear
* https://www.tensorflow.org/guide/estimators

In [ ]:
# https://medium.com/when-i-work-data/converting-a-pandas-dataframe-into-a-tensorflow-dataset-752f3783c168

training_df: pandas.DataFrame = pandas.DataFrame(
    data={
        'feature1': np.random.rand(10),
        'feature2': np.random.rand(10),
        'feature3': np.random.rand(10),
        'target': np.random.randint(0, 3, 10)
    }
)
features = ['feature1', 'feature2', 'feature3']
training_df

In [ ]:
training_df[features].values  # X_train

In [ ]:
training_df['target'].values  # y_train

In [ ]:
training_dataset = (
    tensorflow.data.Dataset.from_tensor_slices(
        (
            tensorflow.cast(training_df[features].values, tensorflow.float32),
            tensorflow.cast(training_df['target'].values, tensorflow.int32)
        )
    )
)

In [ ]:
training_dataset

In [ ]:
def input_fn(dataset):
   ''' manipulate dataset, extracting the feature dict and the label'''
   return feature_dict, label

In [ ]:
population = tensorflow.feature_column.numeric_column('population')
age = tensorflow.feature_column.numeric_column('age')

In [ ]:
# Instantiate an estimator, passing the feature columns.
estimator = tensorflow.estimator.LinearClassifier(feature_columns=[population, age])

estimator.train(input_fn=training_dataset, steps=1000)